body{
    background-image: linear-gradient(#00c7ff, #8cef58);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-color: rgba(50, 197, 255, 0.65);
}
.button_form{
    background-color: rgba(20, 197, 255, 0.65);
    padding-bottom: 10px;
}
.button_form_nodis{
    display: none;
}
.form{
    display: flex;
    justify-items: center;
    width: 50%;
    flex-direction: column;
}
.form input{
    font-size: 20px;
}
.form_input{
    text-align: center;
    width: 100%;
    margin: 4px;
}
.form_button{
    width: 200px;
    margin: 4px;
    align-self: center;
}
.span_button{
    font-size: 20px;
    border: #0C4B91 3px solid;
    border-radius: 15px;
    padding: 4px;
    align-self: center;
    background-color: #FFEE00;
}
.button_add{
    align-self: center;
}
.card_container{
    width: 90%;
    background-color: rgba(176, 176, 176, 0.32);
    border: 2px solid;
    border-radius: 20px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 20px;
    width: 300px;
    border: 1px solid #0C4B91;
    background-color: rgba(255, 238, 0, 0.3);
    box-shadow: 5px 2px 2px  2px #0C4B91;
    border-radius: 5px;
    align-items: center;
}
.card img{
    max-height: 250px;
    object-fit: contain;
}
.button_delete,
.button_like{
    margin-top: 15px;
    width: 100px;
    border-radius: 8px;
}
.button_like{
    background-color: #FFEE00;
    border-color: #0C4B91;
}
.button_delete{
    color: #FFEE00;
    background-color: #D50B22;
}
